body {
    overflow: hidden;
}

h1 {
    width: 100%;
}

#game_info {
    position: relative;
    width: 100%;
    top: -100px;
    transition:top 1s ease-out;   
    -moz-transition:top 1s ease-out;   
    -webkit-transition:top 1s ease-out;
}

.card_box {
    display: inline-block;
    max-width: 70px;
    max-height: 105px;
}

.card_style {
    width: 70px;
    height: 105px;
}

.card-width-spacing {
    width: 10px;
}

.card-height-spacing {
    height: 10px;
}

.btn_card_style {
    background-color: Transparent;
    border: 0;
    padding: 0;
}

.background-styling {
    background: url("../images/background_texture_green.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.intro-settings {
    top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
    background-color: #fafafa;
    transition:height 1s ease-out;   
    -moz-transition:height 1s ease-out;   
    -webkit-transition:height 1s ease-out;
    height: 100vh;
}

.logo-settings {
    display: none;
    max-width: 100%;
}

.menu-settings {
    height: 100px;
    transition:height 1s ease-out;   
    -moz-transition:height 1s ease-out;   
    -webkit-transition:height 1s ease-out;
    background-color: #fafafa;
}

#dropdownMenuLinkColor {
    margin-left: 10px;
}

.settings-divider {
    width: 100%;
    height: 2px;
    border: 0px;
    background-color: #000000;
}

.menu-spacing {
    min-height: 100px;
}

.settings-window {
    margin-top: 10px;
    display: none;
}

.stats-setting {
    margin: 0;
}

.footer-spacing {
    height: 80px;
}

.controls-position-4 {
    max-width: 200px;
}

.controls-position-6 {
    max-width: 300px;
}

.controls-position-8 {
    max-width: 400px;
}

.controls-position-12 {
    max-width: 600px;
}

.iphone5-position-fix {
    padding-right: 0;
}

.text-color {
    color: #000000;
}

.warning-text-spacing {
    margin-top: 10px;
    margin-bottom: 0;
}

.modal-header {
    display: block;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .card_style {
        width: 120px;
        height: 180px;
    }
    .card_box {
        max-width: 120px;
        max-height: 180px;
    }
    .card-width-spacing {
        width: 20px;
    }
    .card-height-spacing {
        height: 20px;
    }
}

@media (min-width: 992px) {
    .logo-settings {
        display: block;
    }
    .card_style {
        width: 180px;
        height: 270px;
    }
    .card_box {
        max-width: 180px;
        max-height: 270px;
    }
    .card-width-spacing {
        width: 20px;
    }
    .card-height-spacing {
        height: 20px;
    }
}