.btn_visible {
    display: inline-block;
}

.btn_hidden {
    display: none;
}

.card_box {
    display: inline-block;
}

.card_style {
    width: 180px;
    height: 270px;
}

.btn_card_style {
    background-color: Transparent;
    border: 0;
    padding: 0;
}