body {
    overflow: hidden;
}

h1 {
    width: 100%;
}

.btn_visible {
    display: inline-block;
}

.btn_hidden {
    display: none;
}

#game_info {
    position: absolute;
    width: 100%;
    top: -160px;
    transition:top 1s ease-out;   
    -moz-transition:top 1s ease-out;   
    -webkit-transition:top 1s ease-out;
}

.card_box {
    display: inline-block;
    max-width: 70px;
    max-height: 105px;
}

.card_style {
    width: 70px;
    height: 105px;
}

.card-width-spacing {
    width: 10px;
}

.card-height-spacing {
    height: 10px;
}

.btn_card_style {
    background-color: Transparent;
    border: 0;
    padding: 0;
}

.background-styling {
    background: url("../images/background_texture_green.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.controls-background-settings {
    overflow: auto;
    display: block;
    background-color: #000000;
    transition:height 1s ease-out;   
    -moz-transition:height 1s ease-out;   
    -webkit-transition:height 1s ease-out;
    height: 100vh;
}

.controls-spacing {
    min-height: 160px;
}

.controls-position {
    max-width: 200px;
}

.text-color {
    color: #ffffff;
}

.modal-header {
    display: block;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .card_style {
        width: 120px;
        height: 180px;
    }
    .card_box {
        max-width: 120px;
        max-height: 180px;
    }
    .card-width-spacing {
        width: 20px;
    }
    .card-height-spacing {
        height: 20px;
    }
}

@media (min-width: 992px) {
    .card_style {
        width: 180px;
        height: 270px;
    }
    .card_box {
        max-width: 180px;
        max-height: 270px;
    }
    .card-width-spacing {
        width: 20px;
    }
    .card-height-spacing {
        height: 20px;
    }
}